<div class="container">
    <div class="row">
        <h2>Votre compte</h2>

        <div class="col-sm-4">
            <div class="information">
                <div class="loading"></div>
                <div class="information-user"></div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="billet">
                <h3>Vos billets</h3>

                <table class="table table-striped">
                    <tr>
                        <th>Depart</th>
                        <th>Arrivée</th>
                        <th>Heure de depart</th>
                        <th>Heure d'arrivée</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        {% for commande in app.user.commandes %}
                            <td>{{ commande.voyage.GareDepart }}</td>
                            <td>{{ commande.voyage.GareArrivee }}</td>
                            <td>{{ commande.voyage.HeureDepart }}</td>
                            <td>{{ commande.voyage.HeureArrivee }}</td>
                            <td>Test</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>